---
const { user, maClass = "" } = Astro.props;

const fullName = `${user.name.first} ${user.name.last}`;
const email = user.email;
const city = user.location?.city || "";
const country = user.location?.country || "";
const picture = user.picture?.large;
const phone = user.phone;
---

<article
  class={`relative w-80 ${maClass} overflow-hidden rounded-2xl shadow-xl border border-gray-200
    bg-white transition-transform transform hover:scale-[1.03] hover:shadow-2xl hover:ring-4 ring-red-500/20`}
>

<!-- logo switch -->
  <div class="absolute top-0 left-0 w-full h-7 bg-red-600 flex items-center justify-center z-10">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 25 13"
      class="w-6 h-6 fill-white"
    >
      <path d="M6.11914 0.228288H3.33438C1.53069 0.228288 0.0675049 1.69147 0.0675049 3.49516V9.70188C0.0675049 11.5056 1.53069 12.9687 3.33438 12.9687H6.11914C6.16971 12.9687 6.21354 12.9283 6.21354 12.8744V0.322687C6.21354 0.272116 6.17308 0.228288 6.11914 0.228288ZM5.18527 11.9405H3.33438C2.73764 11.9405 2.17462 11.7079 1.74983 11.2864C1.3284 10.865 1.09241 10.302 1.09241 9.70188V3.49516C1.09241 2.89505 1.32503 2.3354 1.74645 1.91061C2.16788 1.48919 2.7309 1.25319 3.33101 1.25319H5.1819V11.9371L5.18527 11.9405ZM3.25009 2.8546C3.91088 2.8546 4.44693 3.39065 4.44693 4.05144C4.44693 4.71223 3.91088 5.24828 3.25009 5.24828C2.5893 5.24828 2.05325 4.71223 2.05325 4.05144C2.05325 3.39065 2.5893 2.8546 3.25009 2.8546ZM9.5411 0.228288H7.56884C7.52164 0.228288 7.48455 0.265373 7.48455 0.312573V12.8744C7.48455 12.9249 7.52501 12.9687 7.57895 12.9687H9.53772C11.3414 12.9687 12.8046 11.5056 12.8046 9.70188V3.49516C12.8046 1.69147 11.3414 0.228288 9.53772 0.228288H9.5411ZM10.0063 8.52189C9.29498 8.52189 8.71848 7.94539 8.71848 7.23403C8.71848 6.52266 9.29498 5.94616 10.0063 5.94616C10.7177 5.94616 11.2942 6.52266 11.2942 7.23403C11.2942 7.94539 10.7177 8.52189 10.0063 8.52189ZM14.9522 12.9687V10.7807C15.1781 10.5953 16.0344 9.86033 16.9379 9.08154C17.7504 8.3803 18.5629 7.67905 19.3923 6.99803C20.016 6.48558 21.2027 5.54159 21.2398 4.61783C21.2836 3.53224 20.515 2.82763 19.3619 2.82763C18.6775 2.82763 17.8718 3.20859 17.3829 3.62327C16.8941 4.03795 16.2704 4.574 16.2704 4.574L14.4667 2.6186C15.9973 0.902565 17.6425 0.032748 19.3586 0.032748C23.0131 -0.0582794 25.7709 4.01772 22.9895 7.21043C21.9815 8.32298 20.8352 9.36474 19.6586 10.2885H24.4325V12.9687H14.9488H14.9522Z"/>
    </svg>
  </div>

<!-- joycons -->
  <div class="absolute bottom-6.5 left-2 w-10 h-10 bg-blue-500 rounded-full opacity-100 z-10"></div>
  <div class="absolute bottom-6.5 right-2 w-10 h-10 bg-red-500 rounded-full opacity-100"></div>


<!-- image bg -->
  <div class="absolute top-[-20px] right-[-20px] w-32 h-32 opacity-10 rotate-[25deg] z-0">
    <img src={picture} alt="" class="w-full h-full object-cover rounded-full" />
  </div>

<!-- contenus -->
  <div class="relative z-10 p-6 flex flex-col gap-3">
    
    <!-- image fg -->
    <div class="w-20 h-20 rounded-lg overflow-hidden shadow-md border-4 border-white -mt-8 mb-2">
      <img src={picture} alt={`Photo de ${fullName}`} class="w-full h-full object-cover" />
    </div>

    
    <h2 class="text-xl font-extrabold text-gray-900 leading-tight">{fullName}</h2>
    <p class="text-sm text-gray-500">{email}</p>

    <div class="mt-4 text-sm text-gray-600 space-y-1">
        <p> {city}{city && country ? ", " : ""}{country}</p>
        <p class="flex gap-1 text-sm text-gray-600">
            <svg viewBox="0 0 100 87" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
                <!-- Triangle haut -->
                <path d="M50 0 L25 43.5 L75 43.5 Z" fill="#facc15" />

                <!-- Triangle bas gauche -->
                <path d="M25 43.5 L0 87 L50 87 Z" fill="#facc15" />

                <!-- Triangle bas droit -->
                <path d="M75 43.5 L50 87 L100 87 Z" fill="#facc15" />
            </svg>

            {phone}
        </p>
    </div>


    <div class="mt-6">
      <button
        class="w-full py-2 px-4 bg-gray-900 text-white font-semibold rounded-md
          hover:bg-red-700 transition duration-200 shadow-sm border-2 border-white"
      >
        Voir profil
      </button>
    </div>
  </div>

  
</article>

